.offers-container {
    text-align: center;
    padding: 50px 0;
}

.offers {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.offer-item {
    width: 550px;
    height: 500px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.offer-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.offer-item h2 {
    margin-top: 10px;
    font-size: 20px;
}

.offer-item button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.offer-item button:hover {
    background-color: #0056b3;
}
